---

---

<article class="animate-skeleton">
	<div class="aspect-square rounded-xl bg-airbnb-gray-100"></div>
	<div class="space-y-2 pt-3">
		<div class="h-4 w-3/4 rounded bg-airbnb-gray-100"></div>
		<div class="h-4 w-1/2 rounded bg-airbnb-gray-100"></div>
		<div class="h-4 w-1/4 rounded bg-airbnb-gray-100"></div>
	</div>
</article>
